body {
    font-family: 'NanumBarunGothicLight';
}

table {
    width: 70%;
    text-align: center;
    border: 1.5px solid;
    border-collapse: collapse;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #bbb;
    text-align: center;
}

td:nth-child(even) {
    border-right: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

#dark_mode_button {
    float: right;
    margin-right: 10%;
    width: 80px;
    height: 50px;
}

.input_checkbox,
.input_radio {
    margin-top: 10px;
}

.input_button:hover,
.input_checkbox:hover,
.input_radio {
    cursor: pointer;
}

#api_key_text {
    margin-bottom: 5px;
}

#get_data_button {
    padding: 10px 10px;
    margin-top: 10px;
}

body.dark {
    background: #000;
    color: #fff;
}

body.dark tbody tr:hover {
    background-color: #555;
}

body.dark .input_text,
body.dark .input_button {
    background: #3B3B3B;
    color: white;
    border: 1px solid #858585;
}

body.dark .input_text::placeholder {
    color: white;
}